<div class="container">
  <div class="row">
    <div class="jumbotron text-left border bg-warning">
      <h3 class="p-3">{{nameShopping}} - List of products</h3>
    </div>
  </div>

  <div class="row m-2 justify-content-md-center">
    <div class="container ">
      <div class="row my-3">
        {{! LIST OF PRODUCTS }}
        <div class="col-xl-9">
          <div class="container">
            <div div class="row" id="products-container">
            </div>
          </div>

        </div>
        {{! FORM PRODUCTS }}
        <div class="col-xl-3">
          <div class="row">
            <div class="container mx-auto my-2">
              <h2 class="bg-dark text-white p-2 text-center">ADD A PRODUCT</h2>
              <form
                id="productForm"
                enctype="multipart/form-data"
                method="post"
              >
                <div class="form-group row mt-2">
                  <div class="col">
                    <label class="form-label" for="title">Title*</label>
                    <input
                      class="form-control"
                      type="text"
                      name="title"
                      id="title"
                      autofocus
                      required
                    />
                  </div>
                  <div class="col">
                    <label for="state">Status</label>
                    <select name="status" id="status" class="form-control">
                      <option value="1">Active</option>
                      <option value="0">Inactive</option>
                      autofocus required
                    </select>

                  </div>
                </div>
                <div class="form-group row mt-2">
                  <div class="col">
                    <label class="form-label" for="price">Price*</label>
                    <input
                      class="form-control"
                      type="text"
                      name="price"
                      id="price"
                      autofocus
                      required
                    />
                  </div>
                  <div class="col">
                    <label class="form-label" for="code">Code*</label>
                    <input
                      class="form-control"
                      type="text"
                      name="code"
                      id="code"
                      autofocus
                      required
                    />
                  </div>
                </div>
                <div class="form-group row mt-2">
                  <div class="col">
                    <label class="form-label" for="stock">Stock*</label>
                    <input
                      class="form-control"
                      type="text"
                      name="stock"
                      id="stock"
                      autofocus
                      required
                    />
                  </div>
                  <div class="col">
                    <label class="form-label" for="category">Category*</label>
                    <select class="form-select" name="category" id="category">
                      <option value="Galletitas">Galletitas</option>
                      <option value="Gaseosas">Gaseosas</option>
                      <option value="Bebidas con alcohol">Bebidas c/alcohol</option>
                      <option value="Bebidas sin alcohol">Bebidas s/alcohol</option>
                      <option value="otro" selected>Otro</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row mt-2">
                  <div class="col">
                    <label
                      class="form-label"
                      for="description"
                    >Description*</label>
                    <textarea
                      class="form-control"
                      type="text"
                      name="description"
                      id="description"
                      autofocus
                      required
                    ></textarea>
                  </div>
                </div>
                <div class="form-group row mt-2">
                  <div class="col">
                    <label for="thumbnails">Thumbnails*</label>
                    <input
                      type="file"
                      multiple="true"
                      class="form-control"
                      id="thumbnails"
                      name="thumbnails"
                      multiple
                      autofocus
                      required
                    />
                  </div>
                </div>
                <div class="form-group row mt-3">
                  <div class="col">
                    <input
                      type="submit"
                      value="+ product"
                      class="btn btn-dark w-100 font-weight-bold"
                      id="submitForm"
                    />
                  </div>
                </div>
                <div class="m-3" id="result"></div>
              </form>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>